$mainColor: #09519F;
$secondColor: #E17A30;
$gradientPrimary: linear-gradient(to bottom,  #d8a682 1%,#e17a30 88%); 
$light: #fff;
$grey: #F4F4F4;
$dark: #272727;
$greyHard: #7d7d7d;

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    //position: relative;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
}

form {
    display: grid;
    grid-gap: 1rem;

    input {
        height: 2rem;
        //border: 2px $dark solid;
        border: none;
        background: $grey;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: $dark;
    }

    textarea {
        border: none;
        font-size: 1rem;
        font-family: inherit;
        padding: 0 1rem 0;
        background: $grey;
        color: $dark;
    }
}

.btn {
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    padding: .5rem 1.5rem;
    transition: all 1s;

    &:hover{
        padding: .5rem 2.5rem;
    }
}

.btn-slider {
    background: $gradientPrimary;
    color: $light;
}

.btn-outline-main {
    color: $mainColor;
    text-transform: uppercase;
    border: 2px solid $mainColor;

    &.light {
        color: $light;
        border: 2px solid $light;
    }
}

// UTILITY CLASSES

.img-responsive {
    width: 100%;
    height: auto;
}

.img-circle {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.center-align {
    text-align: center;
}

.align-right {
    text-align: right;
}