@media (min-width: 780px) {
    nav {
        .toggle {
            display: none;
        }
        .links {
            display: block;
        }
    }

    .slider {
        .content {
            padding: 0 0 0 1rem;
            h1 {
                font-size: 2rem;
            }
        }
    }
}